/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Background */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Login Box */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-box {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  width: 90%;
}

h1 {
  font-size: 1.8rem;
  color: #333;
}

p {
  font-size: 1rem;
  color: #666;
  margin: 10px 0 20px;
}

/* Login Button */
button {
  background: #4e42f4;
  color: white;
  border: none;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
}

button:hover {
  background: #425df4;
  transition: 0.3s;
}

button img {
  width: 12%;
  margin-right: 10px;
}
