/* Navbar Styles */
.navbar {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* Left, Center, Right */
  align-items: center;
  background-color: #343a40;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
}

.navbar-section {
  display: flex;
  align-items: center;
}

.navbar-left {
  justify-content: flex-start;
}

.navbar-center {
  justify-content: center;
}

.navbar-right {
  justify-content: flex-end;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-left: 20px;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #007bff;
  color: white;
}

/* Search Bar Styling */
.search-form {
  margin: 5px 0 8px 0;
  display: flex;
  align-items: center;
}

.search-form input[type="text"] {
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}

.search-form select {
  margin: 0 5px 0 5px;
  padding: 7px;
  font-size: 16px;
  border: none;
  border-left: 1px solid #ccc;
  border-radius: 10px;
}

.search-form button {
  padding: 10px 10px;
  background-color: #343a40;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* Submit Button + animation */

.submit-btn {
  font-size: 18px;
  display: inline-block;
  position: relative;
}

​.submit-btn::after,
.submit-btn::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 3px;
  background: linear-gradient(to left, #00ffff, #007bff);
  bottom: 5px;
  left: 3;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease-out;
}

​.submit-btn:hover::after,
.submit-btn:hover::before {
  transform: scaleX(1);
}
