<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='profiles_style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='navbar.css') }}"
    />
  </head>
  <body>
    <!-- Navigation Bar -->
    {% include 'navbar.html' %}

    <div class="profile-container">
      <div class="profile-header-div">
        <h1>Welcome, {{ user['username'] }}!</h1>
        <a onclick="openSettingsPopup()">
          <img
            src="{{ url_for('static', filename='icons/settings_icon.svg') }}"
          />
        </a>
      </div>
      <div class="profile-info">
        <p><strong>Email:</strong> {{ user['email'] }}</p>
        <p>
          <strong>Joined:</strong> {{ user['created_at'].strftime('%d-%m-%Y') }}
        </p>
      </div>
    </div>

    <!-- Settings Popup -->
    <div id="settings-popup" class="popup">
      <div class="popup-content">
        <span class="close" onclick="closeSettingsPopup()">&times;</span>
        <h2>Change Username</h2>
        <form id="change-username-form">
          <label for="new-username">New Username:</label>
          <input type="text" id="new-username" name="new-username" required />
          <button type="submit">Update</button>
        </form>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/profiles_script.js') }}"></script>
  </body>
</html>
