<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='profiles_style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='navbar.css') }}"
    />
  </head>
  <body>
    <!-- Navigation Bar -->
    {% include 'navbar.html' %}

    <div class="profile-container">
      <h1>{{ user['username'] }}'s profile.</h1>
      <div class="profile-info">
        <p>
          <strong>Joined:</strong> {{ user['created_at'].strftime('%d-%m-%Y') }}
        </p>

        <!-- User Online Status -->
        <p>
          <strong>Status:</strong>
          <span
            class="status-indicator {{ 'online' if user['online'] else 'offline' }}"
          ></span>
          {{ 'Online' if user['online'] else 'Offline' }}
        </p>
      </div>
    </div>
  </body>
</html>
